form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; 
    padding: 1rem 0rem;
    width: 400px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.expiration-cvv-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.expiration-date-container {
    display: flex;
    gap: 1rem;
}

.expiration-cvv-container {
    text-align: center;
}

.expiration-cvv-container input {
    width: 50px;
}

.btn-container {
    text-align: center;
}

button {
    width: 150px;
    background: no-repeat url("/src/assets/images/bg-main-desktop.png");
    color: white;
    border-radius: .5rem;
    font-size: 1rem;
}

